h1{
  color: #333333;
}

h2{
  color: #333333;
}

.homepage-title {
  color: white;
  font-size: 5rem;
  font-weight: 200;
}

.homepage-subtitle {
  color: white;
  font-weight: 390;
}

.location {
  font-size: 1rem;
  font-weight: 390;
  color: #404040;
}

.speaker-title {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 390;
  color: #404040;
}
